@charset 'utf-8';

body {
	font-family: "Malgun Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px; line-height: 1.428571429; color: #333;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	margin: 0 0 10px;
}
img, video, iframe {
	max-width: 100%;
}


/* 
	* Typography
*/
/* ancthor */
a {
	color: #176fd5;
	text-decoration: none;
	&:hover, &:focus {
		color: #084999;
		text-decoration: underline;
	}
	&:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
}

/* Headding */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	line-height: 1.1;
	> small {font-size: 85%; color: #999;}
}
h1, .h1 {
	font-size: 36px; margin-top: 20px; margin-bottom: 12px;
}
h2, .h2 {font-size: 30px; margin-top: 16px; margin-bottom: 10px;}
h3, .h3 {font-size: 24px; margin-top: 12px; margin-bottom: 8px;}
h4, .h4 {font-size: 18px; margin-top: 8px; margin-bottom: 4px;}
h5, .h5 {font-size: 14px; margin-top: 8px; margin-bottom: 4px;}
h6, .h6 {font-size: 12px; margin-top: 8px; margin-bottom: 4px;}

/* Body */
.ar-text-lead {
	font-size: 18px; font-weight: 200; line-height: 1.4;
}

/* Text Align */
.ar-text-left {text-align: left !important;}
.ar-text-center {text-align: center !important;}
.ar-text-right {text-align: right !important;}

/* List */
.ar-text-list {
	padding-left: 24px; list-style: disc;
	&.ar-number {
		list-style: decimal;
	}
	&.ar-unstyled {
		padding-left: 0; list-style: none outside none;
	}
	&.ar-inline {
		padding-left: 0; list-style: none outside none;
		> li {
			display: inline-block; padding: 2px 10px 2px 0;
			&:first-child {
				padding-left: 0;
			}
		}
	}
}

/* Description */
.ar-text-description {
	margin: 5px 0 15px; padding: 0;
	> dt, > .dt {
		font-weight: bold; margin-bottom: 3px;
	}
	> dd, > .dd {
		margin-left: 0;
	}
	&.ar-horizontal {
		> dt, > .dt {
			clear: left; float: left; width: 110px; margin-bottom: 0;
			white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left;
		}
		> dd, > .dd {
			margin-left: 130px;
		}
	}
}

/* Code */
code {
	padding: 2px 4px; white-space: nowrap;
	border-radius: 4px;
	font-size: 90%; font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
	color: #06468b; background-color: #e1f5fd;
}

/* Blockquotes */
blockquote {
	margin: 0; padding: 10px 20px;
	border-left: 5px solid #eee;
	> p {
		margin: 0 0 10px;
		font-size: 18px; font-weight: 300; line-height: 1.25;
	}
	> small, > .small {
		font-size: 12px; line-height: 1.42857; color: #999; font-size: 85%;
		&:before {
			content: '- ';
		}
	}
	&.ar-right {
		border-left: none; border-right: 5px solid #eee; text-align: right;
		> small, > .small {
			&:before {
				content: '';
			}
			&:after {
				content: ' -';
			}
		}
	}
}


/*
	* Grid
*/
.ar-grid {
	display: block;
	&:after {
		content: ''; clear: both; display: block;
	}
	> .ar-col-12, > .ar-col-11, > .ar-col-10, > .ar-col-9, > .ar-col-8, > .ar-col-7, > .ar-col-6, > .ar-col-5, > .ar-col-4, > .ar-col-3, > .ar-col-2, > .ar-col-1,
	> .ar-col-md-12, > .ar-col-md-11, > .ar-col-md-10, > .ar-col-md-9, > .ar-col-md-8, > .ar-col-md-7, > .ar-col-md-6, > .ar-col-md-5, > .ar-col-md-4, > .ar-col-md-3, > .ar-col-md-2, & > .ar-col-md-1,
	> .ar-col-lg-12, > .ar-col-lg-11, > .ar-col-lg-10, > .ar-col-lg-9, > .ar-col-lg-8, > .ar-col-lg-7, > .ar-col-lg-6, > .ar-col-lg-5, > .ar-col-lg-4, > .ar-col-lg-3, > .ar-col-lg-2, > .ar-col-lg-1 {
		min-height: 1px;
		position: relative; overflow: hidden;
	}

	> .ar-col-12,
	> .ar-col-11,
	> .ar-col-10,
	> .ar-col-9,
	> .ar-col-8,
	> .ar-col-7,
	> .ar-col-6,
	> .ar-col-5,
	> .ar-col-4,
	> .ar-col-3,
	> .ar-col-2,
	> .ar-col-1 {
		float: left;
	}
	> .ar-col-12 {width: 100%;}
	> .ar-col-11 {width: 91.66666666666666%;}
	> .ar-col-10 {width: 83.33333333333334%;}
	> .ar-col-9 {width: 75%;}
	> .ar-col-8 {width: 66.66666666666666%;}
	> .ar-col-7 {width: 58.333333333333336%;}
	> .ar-col-6 {width: 50%;}
	> .ar-col-5 {width: 41.66666666666667%;}
	> .ar-col-4 {width: 33.33333333333333%}
	> .ar-col-3 {width: 25%;}
	> .ar-col-2 {width: 16.666666666666664%;}
	> .ar-col-1 {width: 8.333333333333332%;}

	/* Greater than 768px */
	@media (min-width: 768px) {
		& > .ar-col-md-12,
		& > .ar-col-md-11,
		& > .ar-col-md-10,
		& > .ar-col-md-9,
		& > .ar-col-md-8,
		& > .ar-col-md-7,
		& > .ar-col-md-6,
		& > .ar-col-md-5,
		& > .ar-col-md-4,
		& > .ar-col-md-3,
		& > .ar-col-md-2,
		& > .ar-col-md-1 {
			float: left;
		}
		& > .ar-col-md-12 {width: 100%;}
		& > .ar-col-md-11 {width: 91.66666666666666%;}
		& > .ar-col-md-10 {width: 83.33333333333334%;}
		& > .ar-col-md-9 {width: 75%;}
		& > .ar-col-md-8 {width: 66.66666666666666%;}
		& > .ar-col-md-7 {width: 58.333333333333336%;}
		& > .ar-col-md-6 {width: 50%;}
		& > .ar-col-md-5 {width: 41.66666666666667%;}
		& > .ar-col-md-4 {width: 33.33333333333333%}
		& > .ar-col-md-3 {width: 25%;}
		& > .ar-col-md-2 {width: 16.666666666666664%;}
		& > .ar-col-md-1 {width: 8.333333333333332%;}
	}

	/* Greater than 1024px */
	@media (min-width: 1024px) {
		& > .ar-col-lg-12,
		& > .ar-col-lg-11,
		& > .ar-col-lg-10,
		& > .ar-col-lg-9,
		& > .ar-col-lg-8,
		& > .ar-col-lg-7,
		& > .ar-col-lg-6,
		& > .ar-col-lg-5,
		& > .ar-col-lg-4,
		& > .ar-col-lg-3,
		& > .ar-col-lg-2,
		& > .ar-col-lg-1 {
			float: left;
		}
		& > .ar-col-lg-12 {width: 100%;}
		& > .ar-col-lg-11 {width: 91.66666666666666%;}
		& > .ar-col-lg-10 {width: 83.33333333333334%;}
		& > .ar-col-lg-9 {width: 75%;}
		& > .ar-col-lg-8 {width: 66.66666666666666%;}
		& > .ar-col-lg-7 {width: 58.333333333333336%;}
		& > .ar-col-lg-6 {width: 50%;}
		& > .ar-col-lg-5 {width: 41.66666666666667%;}
		& > .ar-col-lg-4 {width: 33.33333333333333%}
		& > .ar-col-lg-3 {width: 25%;}
		& > .ar-col-lg-2 {width: 16.666666666666664%;}
		& > .ar-col-lg-1 {width: 8.333333333333332%;}
	}
	> figure {
		margin: 0;
	}
}
ul.ar-grid, ol.ar-grid {
	margin: 0; padding: 0; list-style: none;
}
dl.ar-grid {
	margin: 0;
	> dd {
		margin: 0;
	}
}


/* Margin grid */
.ar-grid.ar-margin {
	margin-left: -10px; margin-right: -10px;
	> * > div {
		margin-left: 10px; margin-right: 10px;
	}
}


/*
	* Table
*/
/* basic */
.ar-table {
	width: 100%; border-spacing: 0; border-collapse: collapse;
	font-size: 13px; color: #333;
	> caption {
		padding: 5px 0;
		text-align: left; font-size: 14px; font-weight: bold;
	}
	> thead > tr > th, > thead > tr > td,
	> tbody > tr > th, > tbody > tr > td,
	> tfoot > tr > th, > tfoot > tr > td {
		padding: 10px 8px; vertical-align: middle;
		border-width: 0; border-bottom-width: 1px;
		border-color: #ccc; border-style: solid;
	}
	> thead > tr > th, > tbody > tr > th, > tfoot > tr > th {
		text-align: center;
	}
	> thead > tr > td, > tbody > tr > td, > tfoot > tr > td {
		text-align: left;
	}
	> thead {
		> tr {
			> th, > td {color: #333; border-top-width: 1px;}
			> th {border-bottom-width: 2px;}
		}
	}
	> tbody {
		> tr {
			> th, > td {color: #555;}
			&:first-child {
				> th, > td {
					border-top-width: 1px;
				}
			}
		}
	}
}

/* border */
.ar-table.ar-border {
	> thead > tr > th, > thead > tr > td,
	> tbody > tr > th, > tbody > tr > td,
	> tfoot > tr > th, > tfoot > tr > td {
		border-width: 1px;
	}
	> thead {
		> tr {
			> th {border-bottom-width: 2px;}
		}
	}
}

/* align center */
.ar-table.ar-center {
	> thead > tr > th, > thead > tr > td,
	> tbody > tr > th, > tbody > tr > td,
	> tfoot > tr > th, > tfoot > tr > td {
		text-align: center;
	}
}

/* align right */
.ar-table.ar-right {
	> thead > tr > th, > thead > tr > td,
	> tbody > tr > th, > tbody > tr > td,
	> tfoot > tr > th, > tfoot > tr > td {
		text-align: right;
	}
}

/* striped */
.ar-table.ar-striped {
	> tbody {
		> tr:nth-child(2n+1) {
			> td, th {
				background-color: #f9f9f9;
			}
		}
	}
}

/* hover */
.ar-table.ar-hover {
	> tbody {
		> tr:hover {
			> td, th {
				background-color: #f9f9f9;
			}
		}
	}
}

@media (max-width: 768px) {
	/* ar-table-responsive */
	.ar-table-responsive {
		position: relative; padding: 17px 0 0 0;
		&:before {
			content: 'Scroll to the right.';
			position: absolute; top: 0; right: 0;
			font-family: Arial, sans-serif; font-size: 11px; color: #999;
		}
		> .ar-wrap {
			width: 100%; overflow-x: auto; overflow-y: hidden; padding: 20px 0;
			border: 1px solid #ddd;
			-webkit-overflow-scrolling: touch;
			> .ar-table {
				> caption {padding-left: 8px;}
				> thead > tr > th, > thead > tr > td,
				> tbody > tr > th, > tbody > tr > td,
				> tfoot > tr > th, > tfoot > tr > td {
					white-space: nowrap;
				}
			}
			> .ar-border {
				> thead > tr > th:first-child, > thead > tr > td:first-child,
				> tbody > tr > th:first-child, > tbody > tr > td:first-child,
				> tfoot > tr > th:first-child, > tfoot > tr > td:first-child {
					border-left: 0;
				}
				> thead > tr > th:last-child, > thead > tr > td:last-child,
				> tbody > tr > th:last-child, > tbody > tr > td:last-child,
				> tfoot > tr > th:last-child, > tfoot > tr > td:last-child {
					border-right: 0;
				}
			}
		}
	}

	/* ar-not_mobile */
	.ar-table .ar-not_mobile {display: none;}
}


/*
	* Buttons
*/
.ar-button {
	display: inline-block; *display: inline; *zoom: 1;
	margin: 0; padding: 9px 15px;
	font-family: sans-serif; font-size: 14px; line-height: 1.428571429; font-weight: normal;
	vertical-align: middle; text-align: center;
	cursor: pointer; white-space: nowrap; text-transform: none;
	background-color: #fff; border: none;
	user-select: none;
	&:hover {text-decoration: none;}
	&:active {box-shadow: inset 2px 2px 3px rgba(0,0,0,.2);}
}
button.ar-button {
	padding-left: 14px;
	padding-right: 14px;
}
a.ar-button {
	outline: none;
	outline-offset: 0;
}

/* ar-button-block */
.ar-button.ar-block {
	display: block;
}
button.ar-button.ar-block,
input.ar-button.ar-block {
	width: 100%;
}

/* button color */
.ar-button {
	color: #333; background: #eee;
	&:hover {color: #333; background: #e5e5e5;}
	/* red */
	&.ar-red {
		color: #fff; background: #dd3b3b;
		&:hover {background: #ce3232;}
	}
	/* green */
	&.ar-green {
		color: #fff; background: #3ec134;
		&:hover {background: #34b52b;}
	}
	/* blue */
	&.ar-blue {
		color: #fff; background: #266ac8;
		&:hover {background: #215db1;}
	}
	/* yellow */
	&.ar-yellow {
		color: #222; background: #f9d450;
		&:hover {background: #f0c93e;}
	}
	/* skyblue */
	&.ar-skyblue {
		color: #0a3660; background: #caeefb;
		&:hover {background: #bbe2f2;}
	}
	/* transparent */
	&.ar-transparent {
		background: transparent; color: #176fd5;
		&:active {box-shadow: 0 0 0;}
	}
}

/* size */
.ar-button {
	&.ar-exsmall {font-size: 11px; padding: 4px 8px; line-height: 11px;}
	&.ar-small {font-size: 12px; padding: 6px 10px; line-height: 12px;}
	&.ar-large {font-size: 16px; padding: 12px 18px; line-height: 16px;}
	&.ar-exlarge {font-size: 18px; padding: 16px 28px; line-height: 18px;}
}


/*
	* Forms
*/
/* text, textarea, select */
.ar-form-text {
	margin: 2px 0; padding: 8px 9px;
	font-size: 14px; color: #444; vertical-align: middle;
	border: 1px solid #bbb; border-radius: 3px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
	&:focus {
		border-color: #aaa;
	}
	&.ar-block {
		display: block; width: 100%;
	}
	&[disabled], &[readonly] {
		background-color: #e9e9e9; color: #555; cursor: not-allowed;
	}
	&.ar-large {
		font-size: 18px; padding-top: 10px; padding-bottom: 10px;
	}
	&.ar-small {
		font-size: 12px; padding-top: 6px; padding-bottom: 6px;
	}
}
textarea.ar-form-text {
	height: auto;
}
select.ar-form-text {
	width: auto; height: 34px; min-width: 100px;
	&[multiple] {
		height: auto;
		padding-left: 8px; padding-right: 8px;
	}
}

/* checkbox and radio */
.ar-form-check {
	> label {
		font-size: 13px; cursor: pointer; font-weight: normal; color: #444;
	}
	/* block */
	&.ar-block {
		> label {
			display: block; padding-left: 20px; margin-top: 5px; margin-bottom: 5px;
			> input {
				float: left; margin: 1px 0 0 -20px;
			}
		}
	}
	/* inline */
	.ar-inline {
		margin-top: 5px; margin-bottom: 5px;
		> label {
			display: inline; padding-right: 8px;
			> input {
				float: none; margin: 1px 2px 1px 0;
			}
		}
	}
}

/* help text */
.ar-form-help {
	display: block; margin-top: 5px; margin-bottom: 5px;
	font-size: 12px; color: #737373; font-weight: normal;
	&.ar-warning {
		color: #e20000;
	}
}

/* form group */
.ar-form-group {
	margin-top: 8px; margin-bottom: 8px;
	> label {
		display: inline-block; margin-bottom: 3px; margin-right: 3px;
		font-size: 14px; font-weight: bold; line-height: 1.42857; color: #333;
	}
}


/*
	* Etc
*/
/* block center */
.ar-block-center {
	display: block; margin-left: auto; margin-right: auto;
}

/* clearfix */
.ar-cf {
	*zoom: 1;
	&:before, &:after {
		content: ' '; display: table;
	}
	&:after {
		clear: both;
	}
}

/* show/hide */
.ar-show {
	display: block !important;
}
.ar-hide {
	display: none !important;
}
.ar-blank {
	position: absolute; width: 0; height: 0; overflow: hidden;
	font-size: 0; line-height: 0; visibility: hidden;
}

/* image */
.ar-img_round {
	border-radius: 6px;
}
.ar-img_thumnail {
	display: inline-block; height: auto; max-width: 100%; padding: 8px;
	line-height: 1.428571429;
	background-color: #fff; border: 1px solid #ddd;
}
.ar-img_circle {
	border-radius: 50%;
}